<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Practice Engine - G/L Integration</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="~/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/select.bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <br/>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - Practice Engine</p>
        </footer>
    </div>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.blockUI.js"></script>
    <script src="~/js/moment-with-locales.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/knockout.js"></script>
    <script src="~/js/knockout-postbox.min.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/dataTables.bootstrap.min.js"></script>
    <script src="~/js/dataTables.select.min.js"></script>
</body>
</html>
